* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 770px) {
    .div {
        min-width: 460px;
    }

    body {
        display: flex;
    }
}

.div {
    background-color: var(--grey-white, #fff);
    display: flex;
    flex-direction: column;
}

.div-2 {
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.08);
    background-color: var(--grey-white, #fff);
    align-self: stretch;
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    padding: 10px 80px;
}

@media (max-width: 991px) {
    .div-2 {
        max-width: 100%;
        flex-wrap: wrap;
        padding: 0 20px;
    }
}

.div-3 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

@media (max-width: 991px) {
    .div-3 {
        max-width: 100%;
        flex-wrap: wrap;
    }
}

.img {
    aspect-ratio: 4.88;
    object-fit: contain;
    object-position: center;
    width: 293px;
    overflow: hidden;
}

.div-4 {
    border-radius: 8px;
    /* border: 1px solid var(--grey-lighter, #ebedf0); */
    background-color: var(--Grey-Hover, #f8f9fa);
    align-self: center;
    display: flex;
    padding-left: 12px;
    align-items: center;
    justify-content: space-between;
    /* gap: 20px; */
    margin: auto 0;
}

.div-5 {
    height: 40px;
    color: #939ca3;
    border: none;
    flex-grow: 1;
    white-space: nowrap;
    margin: auto 0;
    font: 300 12px/16px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .div-5 {
        white-space: initial;
    }
}

.img-2 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 40px;
    overflow: hidden;
    align-self: stretch;
    max-width: 100%;
}

.div-6 {
    align-self: center;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 4px;
    margin: auto 0;
}

@media (max-width: 991px) {
    .div-6 {
        max-width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.img-3 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
    overflow: hidden;
    align-self: center;
    max-width: 100%;
    margin: auto 0;
}

.div-7 {
    color: var(--base-black, var(--Black, #000));
    align-self: center;
    margin: auto 0;
    font: 500 14px/22px Poppins, sans-serif;
}

.img-4 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
    overflow: hidden;
    align-self: center;
    max-width: 100%;
    margin: auto 0;
}

.img-5 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
    overflow: hidden;
    align-self: center;
    max-width: 100%;
    margin: auto 0;
}

.div-8 {
    color: var(--base-black, var(--Black, #000));
    align-self: center;
    margin: auto 0;
    font: 500 14px/22px Poppins, sans-serif;
}

.img-6 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
    overflow: hidden;
    align-self: center;
    max-width: 100%;
    margin: auto 0;
}

.img-7 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
    overflow: hidden;
    align-self: center;
    max-width: 100%;
    margin: auto 0;
}

.img-8 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
    overflow: hidden;
    align-self: center;
    max-width: 100%;
    margin: auto 0;
}

.img-9 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
    overflow: hidden;
    align-self: center;
    max-width: 100%;
    margin: auto 0;
}

.div-9 {
    color: var(--primary-full, #8064a2);
    white-space: nowrap;
    border-radius: 8px;
    border: 1px solid var(--primary-full, #8064a2);
    background-color: var(--grey-white, #fff);
    align-self: stretch;
    flex-grow: 1;
    justify-content: center;
    padding: 13px 33px;
    font: 600 14px/16px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .div-9 {
        white-space: initial;
        padding: 0 20px;
    }
}

.div-10 {
    background-color: var(--Purple-3, #f7f5f9);
    align-self: stretch;
    margin-top: 6px;
    width: 100%;
    padding: 50px 80px 0;
}

@media (max-width: 991px) {
    .div-10 {
        max-width: 100%;
        padding: 0 20px;
    }
}

.div-11 {
    gap: 20px;
    display: flex;
}

@media (max-width: 991px) {
    .div-11 {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
    }
}

.column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 64%;
    margin-left: 0px;
}

@media (max-width: 991px) {
    .column {
        width: 100%;
    }
}

.div-12 {
    display: flex;
    margin-top: 62px;
    flex-grow: 1;
    flex-direction: column;
}

@media (max-width: 991px) {
    .div-12 {
        max-width: 100%;
        margin-top: 40px;
    }
}

.div-13 {
    color: var(--primary-full, #8064a2);
    letter-spacing: 0.72px;
    white-space: nowrap;
    font: italic 600 36px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .div-13 {
        max-width: 100%;
        white-space: initial;
    }
}

.div-14 {
    color: var(--base-black, var(--Black, #000));
    letter-spacing: 0.28px;
    margin-top: 45px;
    font: 300 14px/30px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .div-14 {
        max-width: 100%;
        margin-top: 40px;
    }
}

.div-15 {
    color: var(--base-black, var(--Black, #000));
    letter-spacing: 0.28px;
    margin-top: 35px;
    font: 300 14px/30px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .div-15 {
        max-width: 100%;
    }
}

.img-10 {
    aspect-ratio: 3.27;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
    margin-top: 86px;
}

@media (max-width: 991px) {
    .img-10 {
        max-width: 100%;
        margin-top: 40px;
    }
}

.column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 36%;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .column-2 {
        width: 100%;
    }
}

.div-16 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin: auto 0;
}

@media (max-width: 991px) {
    .div-16 {
        margin-top: 40px;
    }
}

.div-17 {
    justify-content: space-between;
    align-self: start;
    display: flex;
    gap: 20px;
    padding: 6px 1px 0;
}

.div-18 {
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
}

.div-19 {
    color: var(--primary-full, #8064a2);
    white-space: nowrap;
    font: 600 20px Poppins, sans-serif;
}

.div-sign {
    color: #939ca3;
    align-self: start;
    flex-grow: 1;
    white-space: nowrap;
    font: 600 20px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .div-19 {
        white-space: initial;
    }
}

.div-20 {
    background-color: #8064a2;
    display: flex;
    margin-top: 5px;
    height: 2px;
    flex-direction: column;
}

.div-21 {
    color: #939ca3;
    align-self: start;
    flex-grow: 1;
    white-space: nowrap;
    font: 600 20px Poppins, sans-serif;
}

.div-join {
    color: var(--primary-full, #8064a2);
    white-space: nowrap;
    font: 600 20px Poppins, sans-serif;
}

.div-line {
    background-color: #8064a2;
    display: flex;
    margin-top: 5px;
    height: 2px;
    flex-direction: column;

}

@media (max-width: 991px) {
    .div-21 {
        white-space: initial;
    }
}

.div-22 {
    border-radius: 8px;
    border: 1px solid var(--primary-full, #8064a2);
    background-color: var(--Purple-3, #f7f5f9);
    align-self: stretch;
    display: flex;
    margin-top: 32px;
    justify-content: space-between;
    gap: 20px;
    padding: 12px 80px 12px 24px;
    cursor: pointer;
}

/* @media (max-width: 991px) {
    .div-22 {
        padding: 0 20px;
    }
} */

.img-11 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 16px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-width: 100%;
}

.div-23 {
    color: var(--grey-darkest, #08090a);
    flex-grow: 1;
    white-space: nowrap;
    font: 600 14px/16px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .div-23 {
        white-space: initial;
    }
}

.div-24 {
    border-radius: 8px;
    border: 1px solid var(--primary-full, #8064a2);
    background-color: var(--Purple-3, #f7f5f9);
    align-self: stretch;
    display: flex;
    margin-top: 16px;
    justify-content: space-between;
    gap: 20px;
    padding: 12px 80px 12px 24px;
    cursor: pointer;
}

/* @media (max-width: 991px) {
    .div-24 {
        padding: 0 20px;
    }
} */

.img-12 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 16px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-width: 100%;
}

.div-25 {
    color: var(--grey-darkest, #08090a);
    flex-grow: 1;
    white-space: nowrap;
    font: 600 14px/16px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .div-25 {
        white-space: initial;
    }
}

.div-26 {
    justify-content: center;
    align-self: stretch;
    display: flex;
    margin-top: 28px;
    gap: 9px;
    padding: 4px 0;
}

.div-27 {
    background-color: var(--grey-light, #ced4da);
    align-self: center;
    display: flex;
    width: 149px;
    height: 2px;
    flex-direction: column;
    margin: auto 0;
}

.div-28 {
    color: var(--base-black, var(--Black, #000));
    font: 600 12px/16px Poppins, sans-serif;
}

.div-29 {
    background-color: var(--grey-light, #ced4da);
    align-self: center;
    display: flex;
    width: 148px;
    height: 2px;
    flex-direction: column;
    margin: auto 0;
}

.div-30 {
    width: 400px;
    color: #939ca3;
    white-space: nowrap;
    justify-content: center;
    align-items: start;
    border-radius: 8px;
    border: 1px solid var(--grey-lighter, #ebedf0);
    background-color: var(--grey-white, #fff);
    align-self: stretch;
    margin-top: 28px;
    padding: 12px 60px 12px 12px;
    font: 400 12px/16px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .div-30 {
        white-space: initial;
        padding-right: 20px;
    }
}

.div-31 {
    justify-content: space-between;
    border-radius: 8px;
    border: 1px solid var(--grey-lighter, #ebedf0);
    background-color: var(--grey-white, #fff);
    align-self: stretch;
    display: flex;
    margin-top: 16px;
    gap: 20px;
    padding: 12px;
}

.div-32 {
    height: 20px;
    color: #939ca3;
    flex-grow: 1;
    white-space: nowrap;
    font: 400 12px/16px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .div-32 {
        white-space: initial;
    }
}

.img-13 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 16px;
    overflow: hidden;
    max-width: 100%;
}

.div-33 {
    align-self: stretch;
    display: flex;
    margin-top: 24px;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
}

p {
    font-size: 14px;
}

.div-34 {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.div-35 {
    border-radius: 2px;
    border: 1px solid var(--primary-full, #8064a2);
    background-color: var(--Purple-3, #f7f5f9);
    display: flex;
    width: 16px;
    height: 16px;
    flex-direction: column;
}

.div-36 {
    color: var(--base-black, var(--Black, #000));
    align-self: center;
    flex-grow: 1;
    white-space: nowrap;
    margin: auto 0;
    font: 400 12px/16px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .div-36 {
        white-space: initial;
    }
}

.div-37 {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.img-14 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 16px;
    overflow: hidden;
    max-width: 100%;
}

.div-38 {
    color: var(--base-black, var(--Black, #000));
    align-self: start;
    flex-grow: 1;
    white-space: nowrap;
    font: 400 12px/16px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .div-38 {
        white-space: initial;
    }
}

.div-39 {
    display: flex;
    color: var(--base-black, var(--Black, #ffffff));
    background-color: var(--primary-full, #8064a2);
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--base-black, #000);
    align-self: stretch;
    margin-top: 24px;
    padding: 12px 60px;
    font: 600 14px/16px Poppins, sans-serif;
    cursor: pointer;
}

@media (max-width: 991px) {
    .div-39 {
        white-space: initial;
    }
}

.div-40 {
    align-self: center;
    margin-top: 94px;
    width: 100%;
    max-width: 1240px;
}

@media (max-width: 991px) {
    .div-40 {
        max-width: 90%;
        margin-top: 40px;
    }
}

.div-41 {
    gap: 20px;
    display: flex;
}

@media (max-width: 991px) {
    .div-41 {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
    }
}

.column-3 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 0px;
}

@media (max-width: 991px) {
    .column-3 {
        width: 100%;
    }
}

.div-42 {
    border-radius: 8px;
    border: 1px solid var(--grey-light, #ced4da);
    background-color: var(--grey-white, #fff);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    padding: 40px 44px;
}

.div-42:hover {
    background-color: rgb(182, 0, 182);
}


@media (max-width: 991px) {
    .div-42 {
        max-width: 100%;
        margin-top: 24px;
        padding: 20px 20px;
    }
}

.div-43 {
    align-self: start;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}


.img-15 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 40px;
    overflow: hidden;
    max-width: 100%;
}

.div-44 {
    color: var(--base-black, var(--Black, #000));
    align-self: center;
    flex-grow: 1;
    white-space: nowrap;
    margin: auto 0;
    font: 600 24px Poppins, sans-serif;
}


@media (max-width: 991px) {
    .div-44 {
        white-space: initial;
    }
}

.div-45 {
    color: var(--base-black, var(--Black, #000));
    margin-top: 30px;
    font: 300 18px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .div-45 {
        max-width: 100%;
    }
}

.div-46 {
    color: var(--primary-full, #8064a2);
    white-space: nowrap;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid var(--primary-full, #8064a2);
    background-color: var(--grey-white, #fff);
    align-self: start;
    margin-top: 39px;
    padding: 15px 31px;
    font: 600 14px/16px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .div-46 {
        white-space: initial;
        display: flex;
        width: 100%;
    }
}

.column-4 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .column-4 {
        width: 100%;
    }
}

.div-47 {
    border-radius: 8px;
    border: 1px solid var(--grey-light, #ced4da);
    background-color: var(--grey-white, #fff);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    padding: 40px 44px;
}

.div-47:hover {
    background: rgb(0, 177, 0);
}

@media (max-width: 991px) {
    .div-47 {
        max-width: 100%;
        margin-top: 24px;
        padding: 20px 20px;
        position: relative;
        left: -20px;
    }
}

.div-48 {
    align-self: start;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.img-16 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 40px;
    overflow: hidden;
    max-width: 100%;
}

.div-49 {
    color: var(--base-black, var(--Black, #000));
    align-self: center;
    flex-grow: 1;
    white-space: nowrap;
    margin: auto 0;
    font: 600 24px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .div-49 {
        white-space: initial;
    }
}

.div-50 {
    color: var(--base-black, var(--Black, #000));
    margin-top: 30px;
    font: 300 18px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .div-50 {
        max-width: 100%;
    }
}

.div-51 {
    color: var(--primary-full, #8064a2);
    white-space: nowrap;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid var(--primary-full, #8064a2);
    background-color: var(--grey-white, #fff);
    align-self: start;
    margin-top: 34px;
    padding: 12px 32px;
    font: 600 14px/16px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .div-51 {
        white-space: initial;
        display: flex;
        width: 100%;
    }
}

.div-52 {
    align-self: center;
    margin-top: 24px;
    width: 100%;
    max-width: 1240px;
}

@media (max-width: 991px) {
    .div-52 {
        max-width: 90%;
    }
}

.div-53 {
    gap: 20px;
    display: flex;
}

@media (max-width: 991px) {
    .div-53 {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
    }
}

.column-5 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 0px;
}

@media (max-width: 991px) {
    .column-5 {
        width: 100%;
    }
}

.div-54 {
    border-radius: 8px;
    border: 1px solid var(--grey-light, #ced4da);
    background-color: var(--grey-white, #fff);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    padding: 40px 44px;
}

.div-54:hover {
    background: red;
}

@media (max-width: 991px) {
    .div-54 {
        max-width: 100%;
        margin-top: 24px;
        padding: 20px 20px;
    }
}

.div-55 {
    align-self: start;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.img-17 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 40px;
    overflow: hidden;
    max-width: 100%;
}

.div-56 {
    color: var(--base-black, var(--Black, #000));
    align-self: center;
    flex-grow: 1;
    white-space: nowrap;
    margin: auto 0;
    font: 600 24px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .div-56 {
        white-space: initial;
    }
}

.div-57 {
    color: var(--base-black, var(--Black, #000));
    margin-top: 30px;
    font: 300 18px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .div-57 {
        max-width: 100%;
    }
}

.div-58 {
    color: var(--primary-full, #8064a2);
    white-space: nowrap;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid var(--primary-full, #8064a2);
    background-color: var(--grey-white, #fff);
    align-self: start;
    margin-top: 34px;
    padding: 12px 42px;
    font: 600 14px/16px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .div-58 {
        white-space: initial;
        display: flex;
        width: 100%;
    }
}

.column-6 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .column-6 {
        width: 100%;
    }
}

.div-59 {
    border-radius: 8px;
    border: 1px solid var(--grey-light, #ced4da);
    background-color: var(--grey-white, #fff);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: start;
    width: 100%;
    padding: 40px 80px 40px 44px;
}

.div-59:hover {
    background: blue;
}

@media (max-width: 991px) {
    .div-59 {
        max-width: 100%;
        margin-top: 24px;
        padding: 20px 20px;
        position: relative;
        left: -20px;
    }
}

.div-60 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.img-18 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 40px;
    overflow: hidden;
    max-width: 100%;
}

.div-61 {
    color: var(--base-black, var(--Black, #000));
    align-self: start;
    margin-top: 11px;
    flex-grow: 1;
    white-space: nowrap;
    font: 600 24px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .div-61 {
        white-space: initial;
    }
}

.div-62 {
    color: var(--base-black, var(--Black, #000));
    margin-top: 30px;
    font: 300 18px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .div-62 {
        max-width: 100%;
    }
}

.div-63 {
    color: var(--primary-full, #8064a2);
    white-space: nowrap;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid var(--primary-full, #8064a2);
    background-color: var(--grey-white, #fff);
    margin-top: 61px;
    padding: 12px 36px;
    font: 600 14px/16px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .div-63 {
        white-space: initial;
        margin-top: 40px;
        display: flex;
        width: 100%;
    }
}

.div-64 {
    justify-content: center;
    background-color: var(--grey-white, #fff);
    align-self: stretch;
    display: flex;
    margin-top: 84px;
    width: 100%;
    flex-direction: column;
    padding: 16px 0 30px;
}

@media (max-width: 991px) {
    .div-64 {
        max-width: 100%;
        margin-top: 40px;
    }
}

.div-65 {
    justify-content: center;
    align-items: center;
    background-color: var(--Blue-2, #f7fdff);
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 50px 60px;
}

@media (max-width: 991px) {
    .div-65 {
        max-width: 100%;
        padding: 0 20px;
    }
}

.div-66 {
    border-radius: 8px;
    /* border: 1px solid var(--grey-light, #ced4da); */
    background-color: var(--grey-white, #fff);
    display: flex;
    width: 100%;
    max-width: 1240px;
    flex-direction: column;
    margin: 34px 0 20px;
    padding: 16px 0 30px;
}

@media (max-width: 991px) {
    .div-66 {
        max-width: 100%;
    }
}

.div-67 {
    border-radius: 8px;
    border: 1px solid var(--grey-light, #ced4da);
    background-color: var(--grey-white, #fff);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 0 10px;
}

@media (max-width: 991px) {
    .div-67 {
        max-width: 100%;
    }
}

.div-68 {
    display: flex;
    gap: 16px;
}

.img-19 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 54px;
    overflow: hidden;
    max-width: 100%;
}

.div-69 {
    color: var(--grey-darkest, #08090a);
    align-self: start;
    margin-top: 13px;
    flex-grow: 1;
    white-space: nowrap;
    font: 600 36px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .div-69 {
        white-space: initial;
    }
}

.div-70 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    padding: 0 40px;
}

@media (max-width: 991px) {
    .div-70 {
        max-width: 100%;
        padding: 0 20px;
    }
}

.div-71 {
    align-self: start;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.img-20 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 40px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-width: 100%;
}

.div-72 {
    color: var(--grey-darkest, #08090a);
    align-self: center;
    flex-grow: 1;
    white-space: nowrap;
    margin: auto 0;
    font: 600 24px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .div-72 {
        white-space: initial;
    }
}

.div-73 {
    color: var(--grey-darkest, #08090a);
    letter-spacing: 0.36px;
    align-self: stretch;
    margin-top: 32px;
    margin-bottom: 32px;
    font: 300 18px/30px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .div-73 {
        max-width: 100%;
    }
}

.div-74 {
    color: var(--Purple-1, #8064a2);
    white-space: nowrap;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid var(--Purple-1, #8064a2);
    background-color: var(--grey-white, #fff);
    align-self: start;
    z-index: 1;
    margin-top: 32px;
    padding: 12px 29px;
    font: 600 14px/16px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .div-74 {
        white-space: initial;
        padding: 0 20px;
    }
}

.div-75 {
    color: var(--primary-full, #8064a2);
    white-space: nowrap;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid var(--primary-full, #8064a2);
    background-color: var(--grey-white, #fff);
    align-self: start;
    margin: 20px;
    padding: 15px 30px;
    font: 600 14px/16px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .div-75 {
        white-space: initial;
        padding: 20px 20px;
        display: flex;
        width: 100%;
        position: relative;
        left: -20px;
    }
}

.div-76 {
    justify-content: center;
    align-items: center;
    background-color: #fff;
    align-self: stretch;
    z-index: 1;
    display: flex;
    margin-top: -33px;
    width: 100%;
    flex-direction: column;
    padding: 50px 60px;
}

@media (max-width: 991px) {
    .div-76 {
        max-width: 100%;
        padding: 0 20px;
    }
}

.div-77 {
    border-radius: 8px;
    background-color: var(--Purple-3, #f7f5f9);
    display: flex;
    width: 100%;
    max-width: 1240px;
    flex-direction: column;
    align-items: start;
    margin: 50px 0;
    padding: 40px;
}

@media (max-width: 991px) {
    .div-77 {
        max-width: 100%;
        margin: 40px 0;
        padding: 0 20px;
    }
}

.div-78 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.img-21 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 40px;
    overflow: hidden;
    max-width: 100%;
}

.div-79 {
    color: var(--grey-darkest, #08090a);
    align-self: center;
    flex-grow: 1;
    white-space: nowrap;
    margin: auto 0;
    font: 600 24px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .div-79 {
        white-space: initial;
    }
}

.div-80 {
    color: var(--grey-darker, #6d747a);
    letter-spacing: 0.36px;
    align-self: stretch;
    margin-top: 39px;
    font: 300 18px/30px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .div-80 {
        max-width: 100%;
    }
}

.div-81 {
    align-self: stretch;
    display: flex;
    margin-top: 44px;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

@media (max-width: 991px) {
    .div-81 {
        max-width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 40px;
    }
}

.div-82 {
    border-radius: 8px;
    background-color: var(--Purple-2, #ccc1da);
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 34px;
}

@media (max-width: 991px) {
    .div-82 {
        max-width: 100%;
        flex-wrap: wrap;
        padding: 0 20px;
    }
}

.div-83 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: auto 0;
}

.img-22 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 40px;
    overflow: hidden;
    border-radius: 50%;
    max-width: 100%;
}

.div-84 {
    border-radius: 50%;
    align-self: center;
    display: flex;
    width: 12px;
    height: 12px;
    flex-direction: column;
    margin: auto 0;
}

.div-85 {
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.div-86 {
    color: var(--primary-full, #8064a2);
    flex-grow: 1;
    white-space: nowrap;
    margin: auto 0;
    font: 400 12px/16px Poppins, sans-serif;
    width: 400px;
}

@media (max-width: 991px) {
    .div-86 {
        white-space: initial;
    }
}

.img-23 {
    aspect-ratio: 1.2;
    object-fit: contain;
    object-position: center;
    width: 72px;
    border-radius: 50%;
    overflow: hidden;
    align-self: stretch;
    max-width: 100%;
}

.img-24 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 100px;
    overflow: hidden;
    border-radius: 50%;
    align-self: stretch;
    max-width: 100%;
}

.div-87 {
    display: flex;
    flex-basis: 0%;
    flex-direction: column;
    margin: auto 0;
}

.div-88 {
    color: var(--primary-full, #8064a2);
    letter-spacing: 0.36px;
    white-space: nowrap;
    font: 600 18px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .div-88 {
        white-space: initial;
    }
}

.div-89 {
    color: var(--Blue-1, #0096c8);
    letter-spacing: 0.28px;
    margin-top: 10px;
    white-space: nowrap;
    font: 400 14px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .div-89 {
        white-space: initial;
    }
}

.div-90 {
    background-color: #f7fdff;
    align-self: stretch;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 50px 14px 30px 80px;
}

@media (max-width: 991px) {
    .div-90 {
        max-width: 100%;
        padding-left: 20px;
    }
}

.div-91 {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: 62px 0 0 20px;
}

@media (max-width: 991px) {
    .div-91 {
        max-width: 100%;
        margin-top: 40px;
    }
}

.div-92 {
    color: var(--Blue-1, var(--Black, #0096c8));
    align-self: stretch;
    white-space: nowrap;
    font: italic 500 36px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .div-92 {
        max-width: 100%;
        white-space: initial;
    }
}

.div-93 {
    align-self: stretch;
    display: flex;
    margin-top: 35px;
    padding-right: 46px;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
}

@media (max-width: 991px) {
    .div-93 {
        max-width: 100%;
        flex-wrap: wrap;
        padding-right: 20px;
    }
}

.div-94 {
    color: #fff;
    white-space: nowrap;
    justify-content: center;
    border-radius: 8px;
    background-color: var(--primary-full, #8064a2);
    padding: 8px 16px;
    font: 600 20px Poppins, sans-serif;

}

@media (max-width: 991px) {
    .div-94 {
        white-space: initial;
    }
}

.img-25 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 40px;
    overflow: hidden;
    margin-top: 10px;
    max-width: 100%;

}

.div-95 {
    color: var(--primary-full, #8064a2);
    letter-spacing: 0.4px;
    white-space: nowrap;
    justify-content: center;
    border-radius: 2px;
    box-shadow: 0px 0px 5px 0px rgba(120, 120, 120, 0.14);
    background-color: #fff;
    margin-top: 7px;
    padding: 3px 4px;
    font: 500 10px/12px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .div-95 {
        white-space: initial;
    }
}

.img-26 {
    aspect-ratio: 4.11;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
    align-self: center;
    margin-top: 71px;
    max-width: 1240px;
}

@media (max-width: 991px) {
    .img-26 {
        max-width: 100%;
        margin-top: 40px;
    }
}

.div-96 {
    background-color: var(--base-white, #fff);
    align-self: stretch;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 991px) {
    .div-96 {
        max-width: 100%;
    }
}

.div-97 {
    background-color: var(--grey-white, #fff);
    display: flex;
    width: 100%;
    padding-top: 50px;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 991px) {
    .div-97 {
        max-width: 100%;
    }
}

.div-98 {
    display: flex;
    margin-top: 13px;
    width: 100%;
    max-width: 1217px;
    align-items: flex-start;
    justify-content: space-between;
    gap: 190px;
    padding: 0 20px;
}

@media (max-width: 991px) {
    .div-98 {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

.div-99 {
    align-self: start;
    display: flex;
    flex-basis: 0%;
    flex-direction: column;
}

.div-100 {
    color: var(--grey-darkest, #08090a);
    letter-spacing: 0.07px;
    white-space: nowrap;
    font: 700 14px/18px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .div-100 {
        white-space: initial;
    }
}

.div-101 {
    color: var(--grey-darkest, #08090a);
    letter-spacing: 0.07px;
    margin-top: 20px;
    white-space: nowrap;
    font: 400 14px/18px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .div-101 {
        white-space: initial;
    }
}

.div-102 {
    color: var(--grey-darkest, #08090a);
    letter-spacing: 0.07px;
    margin-top: 15px;
    white-space: nowrap;
    font: 400 14px/18px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .div-102 {
        white-space: initial;
    }
}

.div-103 {
    color: var(--grey-darkest, #08090a);
    letter-spacing: 0.07px;
    margin-top: 15px;
    white-space: nowrap;
    font: 400 14px/18px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .div-103 {
        white-space: initial;
    }
}

.div-104 {
    color: var(--grey-darkest, #08090a);
    letter-spacing: 0.07px;
    margin-top: 16px;
    white-space: nowrap;
    font: 400 14px/18px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .div-104 {
        white-space: initial;
    }
}

.div-105 {
    color: var(--grey-darkest, #08090a);
    letter-spacing: 0.07px;
    margin-top: 14px;
    white-space: nowrap;
    font: 400 14px/18px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .div-105 {
        white-space: initial;
    }
}

.div-106 {
    align-self: start;
    display: flex;
    flex-basis: 0%;
    flex-direction: column;
}

.div-107 {
    color: var(--grey-darkest, #08090a);
    letter-spacing: 0.07px;
    white-space: nowrap;
    font: 700 14px/18px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .div-107 {
        white-space: initial;
    }
}

.div-108 {
    color: var(--grey-darkest, #08090a);
    letter-spacing: 0.07px;
    margin-top: 23px;
    white-space: nowrap;
    font: 400 14px/18px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .div-108 {
        white-space: initial;
    }
}

.div-109 {
    color: var(--grey-darkest, #08090a);
    letter-spacing: 0.07px;
    margin-top: 11px;
    white-space: nowrap;
    font: 400 14px/18px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .div-109 {
        white-space: initial;
    }
}

.div-110 {
    color: var(--grey-darkest, #08090a);
    letter-spacing: 0.07px;
    margin-top: 11px;
    white-space: nowrap;
    font: 400 14px/18px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .div-110 {
        white-space: initial;
    }
}

.div-111 {
    color: var(--grey-darkest, #08090a);
    letter-spacing: 0.07px;
    margin-top: 12px;
    white-space: nowrap;
    font: 400 14px/18px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .div-111 {
        white-space: initial;
    }
}

.div-112 {
    color: var(--grey-darkest, #08090a);
    letter-spacing: 0.07px;
    margin-top: 12px;
    white-space: nowrap;
    font: 400 14px/18px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .div-112 {
        white-space: initial;
    }
}

.div-113 {
    color: var(--grey-darkest, #08090a);
    letter-spacing: 0.07px;
    margin-top: 11px;
    white-space: nowrap;
    font: 400 14px/18px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .div-113 {
        white-space: initial;
    }
}

.div-114 {
    align-self: start;
    display: flex;
    flex-basis: 0%;
    flex-direction: column;
}

.div-115 {
    color: var(--grey-darkest, #08090a);
    letter-spacing: 0.07px;
    white-space: nowrap;
    font: 700 14px/18px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .div-115 {
        white-space: initial;
    }
}

.div-116 {
    color: var(--grey-darkest, #08090a);
    letter-spacing: 0.07px;
    margin-top: 21px;
    white-space: nowrap;
    font: 400 14px/18px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .div-116 {
        white-space: initial;
    }
}

.div-117 {
    color: var(--grey-darkest, #08090a);
    letter-spacing: 0.07px;
    margin-top: 12px;
    white-space: nowrap;
    font: 400 14px/18px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .div-117 {
        white-space: initial;
    }
}

.div-118 {
    color: var(--grey-darkest, #08090a);
    letter-spacing: 0.07px;
    margin-top: 9px;
    white-space: nowrap;
    font: 400 14px/18px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .div-118 {
        white-space: initial;
    }
}

.div-119 {
    color: var(--grey-darkest, #08090a);
    letter-spacing: 0.07px;
    margin-top: 11px;
    white-space: nowrap;
    font: 400 14px/18px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .div-119 {
        white-space: initial;
    }
}

.div-120 {
    align-self: stretch;
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
}

.div-121 {
    color: var(--grey-darkest, #08090a);
    letter-spacing: 0.07px;
    align-self: stretch;
    white-space: nowrap;
    font: 700 14px/18px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .div-121 {
        white-space: initial;
    }
}

.img-27 {
    aspect-ratio: 15.04;
    object-fit: contain;
    object-position: center;
    width: 361px;
    overflow: hidden;
    align-self: center;
    margin-top: 20px;
}

.div-122 {
    color: var(--grey-darkest, #08090a);
    letter-spacing: 0.07px;
    align-self: stretch;
    margin-top: 53px;
    white-space: nowrap;
    font: 700 14px/18px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .div-122 {
        margin-top: 40px;
        white-space: initial;
    }
}

.div-123 {
    border-radius: 8px;
    /* border: 1px solid var(--primary-full, #8064a2); */
    background-color: var(--grey-white, #fff);
    align-self: stretch;
    display: flex;
    margin-top: 20px;
    padding-left: 16px;
    align-items: center;
    justify-content: space-between;
    /* gap: 20px; */
}

.div-124 {
    height: 50px;
    color: #939ca3;
    flex-grow: 1;
    white-space: nowrap;
    margin: auto 0;
    font: 400 12px/16px Poppins, sans-serif;
    padding-left: 16px;
}

@media (max-width: 991px) {
    .div-124 {
        white-space: initial;
    }
}

.div-125 {
    color: var(--grey-white, #fff);
    letter-spacing: 0.06px;
    white-space: nowrap;
    border-radius: 0px 8px 8px 0px;
    background-color: var(--primary-full, #8064a2);
    align-self: stretch;
    aspect-ratio: 1.475;
    justify-content: center;
    padding: 16px 13px;
    font: 600 12px/16px Poppins, sans-serif;
    border: none;
    cursor: pointer;
}

@media (max-width: 991px) {
    .div-125 {
        white-space: initial;
    }
}

.div-126 {
    display: flex;
    color: var(--grey-darkest, #08090a);
    letter-spacing: 0.07px;
    white-space: nowrap;
    background-color: var(--Purple-3, #f7f5f9);
    align-self: stretch;
    margin-top: 60px;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 32px 60px;
    font: 500 14px/18px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .div-126 {
        white-space: initial;
        max-width: 100%;
        margin-top: 40px;
        padding: 0 20px;
    }
}